.img-thumbnail{
    height:180px;
    width:600px;
}
.headerText{
    text-align: center;
    color:green;
    font-style: italic;
}
.container{
height:205px;
background-image: linear-gradient(yellow, red, green);
width:1110px;
}
.border{
    border: 1px;
    border-radius: 15px 15px;
}