<div class="container">
  <br><input type="text" [(ngModel)]='searchGroup' style="border-radius: 5px 5px">
  <i class="fa fa-search" style="transform:translate(-20px, 0px)"></i>
  <p>Details of {{searchGroup}} are shown.</p>
</div>
<div class="container">
<table class="table table-striped" border="1px">
  <tr style="text-align: center">
    <th>Name</th>
    <th>Location</th>
    <th>Blood Group</th>
    <th>Mobile number</th>
    <th>Action</th>
  </tr>
    <tr *ngFor="let eachDonor of donorList|filter:'bloodGroup':searchGroup" style="text-align: center">
      <td>{{eachDonor.name}}</td>
      <td>{{eachDonor.location}}</td>
      <td>{{eachDonor.bloodGroup}}</td>
      <td>{{eachDonor.mobileNumber}}</td>
      <td>
        <button [disabled] = "disableShowButton" (click)="showDetails(eachDonor.name)" class="btn btn-success btn-sm">Show Details</button>
      </td>
  </tr>
</table>
<h6 style="text-align: left">{{details}}</h6>
<app-show-request></app-show-request><br>
<app-dashboard></app-dashboard><br>

</div>
