<div class='card-deck'>
  <div class='card'>
    <div class='card-header'>Active Donors</div>
    <div class='card-img-top'><img [src]="actDonImg" appMagnify alt="Active Donor Image" height='60px' width='100px'></div>
    <div><p appHighlight fontsize='2em' fontFamily='Calibri'>{{actDonorsCount}}</p></div>
  </div>
  <button class="fa fa-plus-circle" (click)='incrementCount()'></button>
</div><br>
<div item-height="100px" item-width="100px">
<app-banner></app-banner>
</div>
<button (click)='addFuture()' class="btn btn-success btn-sm">Show Future Camp Details</button><br><br>
<div #futureCamp></div>
<button (click)='addPast()' class="btn btn-success btn-sm">Show Past Camp Details</button><br><br>
<div #pastCamp></div><br>
<button (click)='changeResult()' class="btn btn-success btn-sm">Add Review</button><br><br>